<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间与映射接口类名一致 -->
<mapper namespace="com.yc.acfun.mapper.FavouriteMapper">

	
	
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows" column="{totalPage=totalPage,id=id,pageSize=pageSize,currPage=pageSize start=start,end=end}" select="getfavourite"/>
	</resultMap>
	
	
	<select id="findfavourite" parameterType="PaginationBean" resultMap="PaginationBeanMap">
		
		select ${id} id,count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage,${pageSize}*${currPage-1} start,${pageSize}*${currPage} end from 
		(select 
		c.resource_id
		from user u,resource r,`partition` s,collection c
		where u.user_id=r.user_id and r.partition_id=s.partition_id and c.resource_id=r.resource_id and c.user_id=${id})t
	</select>
	
	<select id="getfavourite" resultType="Favourite">

		select ${totalPage} totalPage,c.resource_id,u.user_id,user_nickname,user_head,resource_cover,resource_time,partition_name,resource_title,resource_introduce,resource_click,resource_commentCount,resource_favoriteCount
		from user u,resource r,`partition` s,collection c
		where u.user_id=r.user_id and r.partition_id=s.partition_id and c.resource_id=r.resource_id and c.user_id=${id} limit ${start},${end}
	</select>	
	<delete id="deletefavourite" parameterType="Delete">
		delete from collection where user_id=${user_id} and resource_id=${Did}
	</delete>
	
	
</mapper>