<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间与映射接口类名一致 -->
<mapper namespace="com.yc.acfun.mapper.FollowMapper">

	
	
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows" column="{totalPage=totalPage,id=id,pageSize=pageSize,currPage=pageSize start=start,end=end}" select="getFollowing"/>
	</resultMap>
	
	
	<select id="findFollowing" parameterType="PaginationBean" resultMap="PaginationBeanMap">
		
		select ${id} id,count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage,${pageSize}*${currPage-1} start,${pageSize}*${currPage} end from 
		(select mefollow_id,user_nickname,user_autograph,user_head,user_address
		from follow f,user u
		where f.mefollow_id=u.user_id and f.user_id=${id})t
	

	</select>
	
	<select id="getFollowing" resultType="Follow">
		select mefollow_id,user_nickname,user_autograph,user_head,user_address
		from follow f,user u
		where f.mefollow_id=u.user_id and f.user_id=${id} limit ${start},${end}
	</select>
	
	
	<resultMap type="PaginationBean" id="PaginationBeanMaps">
		<collection property="rows" column="{totalPage=totalPage,id=id,pageSize=pageSize,currPage=pageSize start=start,end=end}" select="getFolloed"/>
	</resultMap>
	
	
	<select id="findFollowed" parameterType="PaginationBean" resultMap="PaginationBeanMaps">
		
		select ${id} id,count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage,${pageSize}*${currPage-1} start,${pageSize}*${currPage} end from 
		(select mefollow_id,user_nickname,user_autograph,user_head,user_address
		from follow f,user u
		where f.mefollow_id=u.user_id and f.mefollow_id=${id})t
	

	</select>
	
	<select id="getFolloed" resultType="Follow">
		select u.user_id,user_nickname,user_autograph,user_head,user_address
		from follow f,user u
		where f.user_id=u.user_id and f.mefollow_id=${id} limit ${start},${end}
	</select>
		
	<delete id="deleteFollowing" parameterType="Delete">
		delete from follow where user_id=${user_id} and mefollow_id=${Did}
	</delete>
	
	<insert id="insertFollowing" parameterType="Delete">
		insert into follow values(${user_id},${Did})
	</insert>
	
	
</mapper>