<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间与映射接口的全类名一致 -->
<mapper namespace="com.yc.acfun.mapper.UserMapper">
	<insert id="reg" parameterType="User">
		insert into user(user_nickname,user_password,user_telephone)  
		values(#{user_nickname},#{user_password},#{user_telephone})
	</insert>
	<select id="checkTel" resultType="int" parameterType="java.lang.String">
		select count(user_id) from user where user_telephone=#{tel}
	</select>
	
	<select id="checkUname" resultType="int" parameterType="java.lang.String">
		select count(user_id) from user where user_nickname=#{name}
	</select>
	
	<select id="login" resultType="Integer">
		select user_id from user where (user_nickname = #{name} and user_password=#{pwd}) or (user_telephone = #{name} and user_password=#{pwd})
	</select>
	
	<select id="selectUser" parameterType="int" resultType="User">
		select * from user where user_id = #{userId}
	</select>
</mapper>
